@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: local('Gilroy'),
       url('fonts/gilroyextrabold.woff2') format('woff2'),
       url('fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'),
       url('fonts/gilroylight.woff2') format('woff2'),
       url('fonts/gilroylight.woff') format('woff');

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'),
       url('fonts/opensans.woff2') format('woff2'),
       url('fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'),
       url('fonts/opensanslight.woff2') format('woff2'),
       url('fonts/opensanslight.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gilroy", "Arial Black", sans-serif;
  color: #000;
  line-height: 1.2em;
  background-color: #fff;
  padding-top: 40px ;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.invisible {
  visibility: none;
}

.positioner {
  width: 1160px;
  margin: 0px auto;
}

.main-header {
  background-color: #f7e296;
}

.main-header-logo:hover,
.main-header-logo:focus {
  outline: none;
  opacity: 0.6;
}

.main-header-logo:active {
  outline: none;
  opacity: 0.3;
}

.nav-list {
  list-style: none;
}

.nav-list, .nav-list a, .nav-list input {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000;
}

.nav-form {
  font-size: 0;
  box-sizing: border-box;
  height: 49px;
}

.nav-list input[type="search"] {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
  height: 49px;
  padding-bottom: 6px;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: rgba(0,0,0, 0.3);
  background-color: transparent;
}

.nav-list input[type="submit"] {
  display: inline-block;
  box-sizing: border-box;
  height: 49px;
  padding-bottom: 6px;
  border: 2px solid black;
  vertical-align: bottom;
  visibility: hidden;
}

.nav-list input[type="search"]::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.3);
}

.nav-list input[type="search"]::-moz-placeholder {
  color: rgba(0,0,0, 0.3);
}

.nav-list input[type="search"]:-moz-placeholder {
  color: rgba(0,0,0, 0.3);
}

.nav-list input[type="search"]:-ms-input-placeholder {
  color: rgba(0,0,0, 0.3);
}

.nav-list input[type="search"]::placeholder {
  color: rgba(0,0,0, 0.3);
}

.nav-list input[type="search"]:hover {
  color: rgba(0,0,0, 0.6);
}

.nav-list input[type="search"]:hover::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.6);
}

.nav-list input[type="search"]:hover::-moz-placeholder {
  color: rgba(0,0,0, 0.6);
}

.nav-list input[type="search"]:hover:-moz-placeholder {
  color: rgba(0,0,0, 0.6);
}

.nav-list input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0,0,0, 0.6);
}

.nav-list input[type="search"]:hover::placeholder {
  color: rgba(0,0,0, 0.6);
}

.nav-list input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(0,0,0, 1);
}

.nav-list input[type="search"]:focus::-moz-placeholder {
  color: rgba(0,0,0, 1);
}

.nav-list input[type="search"]:focus:-moz-placeholder {
  color: rgba(0,0,0, 1);
}

.nav-list input[type="search"]:focus:-ms-input-placeholder {
  color: rgba(0,0,0, 1);
}

.nav-list input[type="search"]:focus::placeholder {
  color: rgba(0,0,0, 1);
}

.nav-list input[type="search"]:focus {
  color: rgba(0,0,0, 1);
  outline: none;
  border-bottom-color: black;
}

.nav-search:focus+input[type="submit"] {
  visibility: visible;
  background-color: transparent;
  color: #000;
}

.nav-search:focus+input[type="submit"]:hover {
  visibility: visible;
  background-color: black;
  color: white;
}

.nav-search+input[type="submit"]:focus {
  visibility: visible;
  background-color: black;
  color: white;
}

.nav-search+input[type="submit"]:active {
  visibility: visible;
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.nav-list a {
  color: inherit;
}

.nav-list a:hover,
.nav-list a:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}


.header-cat-list, .header-cat-list ol {
  list-style: none;
}

.header-cat-list>li {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-pt a {
  color: inherit;
}

.header-cat-list a:hover,
.header-cat-list a:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.header-cat-list a:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.nav-catalog li {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform:none;
}

.main-goods-slider {
  background-color: transparent;
}

.main-content {

}


.main-content img {
  background-color: transparent;
}

.goods-description-header {
  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

.goods-description-paragraph {
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; ;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}


.detail-link-style {
  position: relative;
  display:inline-block;
  min-width: 220px;
  min-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  color: inherit;
  box-sizing: border-box;
  text-align: center;
  padding-top: 9px;
}

.detail-link-style::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:8px;
  margin: auto 0;
  width:100%;
  background-color: #f0c52e;
  z-index:-1;
}

.detail-link-style:hover,
.detail-link-style:focus {
  background-color:#f0c52e;
  outline: none;
}

.detail-link-style:active {
  color: rgba(0, 0, 0, 0.3);
}

.detail-table tr:first-child {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}
.detail-table-data b{
  font:inherit;

}

.detail-table tr:last-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;

}

.goods-slider-navigation-list {
  list-style: none;
}

.main-categories-list {
  list-style: none;
}

.category-icon {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  box-sizing: border-box;
}

.main-category:first-child .category-icon{
  padding-top: 52px;
  padding-left: 31px;
}

.main-category:nth-child(2) .category-icon{
  padding-top: 43px;
  padding-left: 38px;
}

.main-category:nth-child(3) .category-icon{
  padding-top: 38px;
  padding-left: 49px;
}

.main-category:nth-child(4) .category-icon{
  padding-top: 50px;
  padding-left: 28px;
}

.main-category:nth-child(5) .category-icon{
  padding-top: 31px;
  padding-left: 55px;
}

.main-category:last-child .category-icon{
  padding-top: 49px;
  padding-left: 13px;
}

.category-name {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
}

.category-link:hover .category-icon,
.category-link:focus .category-icon {
  background-color: rgba(240, 197, 46, 1);
  outline: none;
}


.category-link:hover,
.category-link:focus {
  outline: none;
}

.category-link:active .category-img,
.category-link:active .category-name {
  opacity:0.3;
}


.main-add {
  background-color:#e5e5e5;
}


.controls-list {
  list-style: none;
  width: 278px;
  border-right: 7px solid black;
  padding-top: 80px;
  padding-bottom: 70px;
}


.controls-name {
  min-width: 160px;
/*  min-height: 31px;
  box-sizing: content-box;*/
}

/*.detail-link-style::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:8px;
  margin: auto 0;
  width:100%;
  background-color: #f0c52e;
  z-index:-1;
}
*/
.controls-list .controls-variant:first-child {
  margin-bottom: 24px;
}

.controls-list .controls-variant:nth-child(2) {
  margin-bottom:25px;
}

.control-add:checked+.controls-name,
.controls-name:active,
.controls-name:focus {
  color: #f7e184;
  background-color: transparent;
  z-index: 1;
}

.control-add:checked+.controls-name::after,
.controls-name:active::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 278px;
  height: 100%;
  background-color: #000;
  z-index: -1;
}

/*.controls-variant>input[type="radio"]:checked+.controls-name{
  margin-right: 0;
  padding-right: calc(100% - 160px);
  color: #f7e184;
  background-color: black;
}
*/

.add-header {
  font-size: 47px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #000;
  font-weight: bold;
  font-family: "Gilroy", "Arial Black", sans-serif;
}

.add-paragraph {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}




/*
.about-detail {
  position: relative;
}

.contacts-detail {
  position: relative;
}*/


